:root {
    --primary-color: #590696;
    --secondary-color: #8c52ff;
    --bacground: #ffedb5;
}

/* Navbar Start */
.nav-logo {
    width: 110px;
}
.search-input {
    border-radius: 50px;
    padding-left: 2.5rem;
    width: 250px;
    border: 1px solid #ddd;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}
.profile-circle {
    width: 35px;
    height: 35px;
    background-color: #17a2b8;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.business-btn {
    background-color: var(--bacground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    padding: 5px 15px;
    border: 1px solid #f0c040;
}
.business-btn img{
    width: 30px;
    padding-right: 10px;
}
.login-btn {
    border-radius: 50px;
    padding: 5px 15px;
    border: 1px solid #ccc;
}
.login-btn:hover {
    border: 1px solid #ccc;
    background-color: var(--primary-color);
}
@media (max-width: 991px) {
    .search-input {
        width: 100%;
    }
    .right-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }
}
/* Navbar End */


/* Footer Start */
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-section img {
    max-width: 100%;
    height: auto;
}
.footer-section {
    margin-top: 50px;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
    z-index: 9;
}
.footer-section:before {
    content: '';
    position: absolute;
    top: -146%;
    left: -18%;
    width: 44%;
    height: 257%;
    transform: rotate(54deg);
    background-color: #500587;
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    z-index: -10;
}
.footer-section:after {
    position: absolute;
    content: '';
    background-color: #500587;
    top: -24%;
    right: 4%;
    width: 26%;
    height: 264%;
    transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    -moz-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    -o-transform: rotate(44deg);
    z-index: -10;
}
.footer-top {
    padding-top: 96px;
    padding-bottom: 50px;
}
.footer-top p,
.company-footer-contact-list li {
    color: #ffffff;
}
.company-footer-contact-list {
    margin-top: 10px;
}
.company-footer-contact-list li {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.company-footer-contact-list li+li {
    margin-top: 5px;
}
.company-footer-contact-list li i {
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
}

.footer-top .site-logo {
    margin-bottom: 25px;
    display: block;
    max-width: 170px;
}
.widget-title {
    text-transform: capitalize;
}
.footer-top .widget-title {
    color: var(--bacground);
    margin-bottom: 40px;
}
.courses-link-list li+li {
    margin-top: 10px;
}
.courses-link-list li a {
    color: #ffffff;
    text-transform: capitalize;
    font-family: var(--para-font);
    font-weight: 400;
}
.courses-link-list li a:hover {
    color: var(--bacground);
}
.courses-link-list li i {
    margin-right: 5px;
}
.footer-top .small-post-title a {
    font-family: var(--para-font);
    color: #ffffff;
    font-weight: 400;
}
.small-post-item .post-date {
    color: var(--bacground);
    margin-bottom: 3px;
    font-family: var(--para-font);
    font-weight: 400;
}
.small-post-list li+li {
    margin-top: 30px;
}
.news-letter-form {
    margin-top: 15px;
}
.news-letter-form input {
    width: 100%;
    padding: 12px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}
.news-letter-form input[type="submit"] {
    width: auto;
    border: none;
    background-color: var(--bacground);
    padding: 9px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--primary-color);
    margin-top: 10px;
}
.footer-bottom {
    padding: 13px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.149);
}
.copy-right-text {
    color: #ffffff;
}
.copy-right-text a {
    color: var(--bacground);
}
.terms-privacy li+li {
    margin-left: 30px;
}
.terms-privacy li a {
    color: #ffffff;
    position: relative;
}
.terms-privacy li a:after {
    position: absolute;
    content: '-';
    color: #ffffff;
    display: inline-block;
    top: 0;
    right: -18px;
}
.terms-privacy li+li a:after {
    display: none;
}
/* Footer End */